############################################
GlueLayer_ToolConfigSelection=3
debug_console=1
debug_enable=4
mem_dump_to_node=1
force_instant_logging=0
user_ports_tcp_name=Autotest
user_ports_tcp_port=7555
debug_dir=/data/vendor/gps/logs
############################################
GlueLayer_IsGedKeyExist=1
GlueLayer_EnableGnssCfgInterface=1


uni_log_max_file_count=5
uni_log_max_size_mb=20
uni_log_total_max_size_mb=100

# to enable ism stream for GAAM
ism_stream_enable=1
caplay_port_tcp_port=@GNSS_ISM_CAPTURE_PLAYBACK

gnss_device_type=K041
gnss_device_patch_address=0
gnss_device_patch_file=/vendor/firmware/kepler.bin

# send debug req on MCW oddity
#Chip_Configuration_Io_Options=0x85

# Disable dynamic HSI
Chip_Configuration_Dynamic_HSI=0

# borrow this field to force CP crash on GAL bad ISM
#Chip_Configuration_WT1=1

# Chip_Configuration_TrackerDebugMode = 0x10
GlueLayer_IsPlatformRefTimeEnable=1

# enables CHPP for SPI port
# uncomment the *chpp* lines below (and comment gnss_device-data_port_kepslim_present above) to use SPI+CHPP
# when using CHPP, make sure to enable the CHPP defines in build_settings.mak
chpp_betp_client=1
chpp_log_level=2
gnss_device_data_port_chpp_spi_device=/dev/gnss_ipc
gnss_device_data_port_chpp_present=1

### Update for VTS ###
GlueLayer_YearOfHW=2023
scheduling_enabled=1

### temporarily disable precise time aiding ###
Chip_Configuration_AidingConfiguration=0x00020046

# VDR End condition (meter, meter, sec, sec)
ChipCfg_VDR_high_end_Distance = 200
ChipCfg_VDR_low_end_Distance = 200
ChipCfg_VDR_high_end_Time = 20
ChipCfg_VDR_low_end_Time = 20

# set shared reference clock for freq aiding (0x20)
# enable dcxo (0x04)
Chip_Configuration_RefClkControl=0x24

### Override for DCXO Cnom/TuneValue
#Chip_Configuration_DCXOtuneValue=3200

### DCXO Optional Parameters. #####
#   Can specify Crystal type, and/or over-ride T0-inflection point ####
#
# Optionally specify DXCO Crystal type, and operation mode
# 8 bits.  Lower 4 bits Crystal ID# (0-15)
#          Upper 4 bits Poly Configuration: (0/1)
# Poly Configuration: 0: Use CP's poly, 1: Force use of default manufactures polynomial
### Crystal Types:
## 0 - Unknown/Default
## 1 - Kyocera CT1612RB
## 2 - NDK NX1612SD CS12311
## 3 - NDK NX1612SD CS13950
## 4 - NDK NX1612SD CS15298
## 5 - KDS 7CG07680A10
## 6-  TXC 0W76870003
## E.g. Use Kyocera, and ignore CP's polynomial: DCXO_CrystalType=0x11
## E.g. Use KDS, and Use CP's polynomial: DCXO_CrystalType=0x05
Chip_Configuration_DCXO_CrystalType=0x11

## Optionally specify DXCO Inflection point temperature,        ####
#    This will override any default value or value in Crystal type ####
#    Value is degrees C x 100 E.g. 2855 = 28.55 deg C
#    Range should be 2000 to 3100
#Chip_Configuration_DCXO_InflectionPoint=2855

# disable spam dog to avoid loss of position request
spam_dog_ms=0
# disable HW watchdog
Chip_Configuration_WatchdogPeriod = 0

# GPS= 0x0001 GLO= 0x0002 GALILEO=0x0004 BEIDOU=0x0008 SBAS=0x0010 QZSS=0x0020
# MEMS Static Detect=0x4000 MEMS Heading=0x2000
### 2C48 L1 only MCW ###
Chip_Configuration_GNSSConstConstraintDef=0x602F
Chip_Configuration_RfMiscCtrl=0x80008001

# Disable BDS in the U.S.
bdsUsedInUSPolicy=2
sbasUsedInUSPolicy=2
qzssUsedInUSPolicy=2
navicUsedInUSPolicy=2

# DVS: 0 = Disabled (default), 1 = Enabled
# DFS: 0 = Disabled (default), 1 = Enabled
Chip_Configuration_FeatureCfg_DVS = 1
Chip_Configuration_FeatureCfg_DFS = 1

# This is a bitfield that will disable incoming interrupts for mailboxes
# AP   = 0x1
# APM  = 0x2
# CP   = 0x4
# CHUB = 0x8
# The CHUB on the neus continually triggers a bit so this is to prevent
# it from continually waking the gnss.
mailboxDisabled=0x8

### Specify RFIC ID for K40 ###
# 55200001 = S5520 EVT1
gnss_rfic_chip_id=55200001

# Uncomment to Disable SUPL
#Aiding_AidingType=0
# Uncomment to Disable SUPL (Ignore Android Framework Requests to Enable SUPL)
#GlueLayer_EnableFwConfiguration=0

#Uncomment to disable SGEE
#Sif_OperationMode=0

# Enables RTC time aiding from Host
# 1 - enable, 0 - disable (default)
UseRtcForAiding=1

# Min number of prior fixes needed for RTC time aiding
rtc_min_num_of_fixes=10

# increase rtc uncertainty from Host to hedge against bad fixes
additional_rtc_uncertainty_ms=10

# set to 1 for FW SGEE download - Requires Android FW to be properly configured
Sif_UseFwXtraInterface=1

# Low power configurations
# ACT C/No loss limit: 0dB to 15dB (0 = ACT is disabled by default) 3dB = 50% Duty Cycle, 6dB = 25% Duty Cycle, 9dB = 12.5% Duty Cycle
Chip_Configuration_FeatureCfg_ACT = 5

ChipCfg_DspMemdumpEnable=1

Agnss_IsGloAidingEnable=0
Agnss_SuplUseCpNi=1
SETCaps_IsOtdoa=1
SETCaps_IsLpp=1
PosReq_Supl2Params_SuplNiUdpPort=7275
GlueLayer_LPPCpBitmask=0x17
GlueLayer_IsCpLteNeighborCellEnable=1
GlueLayer_isReqDBHFromFwRefLoc=1
GlueLayer_isReqUBPFromPressureSensor=1
GlueLayer_IsRilCIDReqEnable=0
GlueLayer_IsMemsEnable=1
GlueLayer_MeasCorrCap=7
Chip_Configuration_mems_data_Configuration=5
Chip_Configuration_FeatureCfg_ANDRD_MEAS_CORR_ENABLE=1
CP_LocTech_PrimaryConst=0
CP_LocTech_Constraints=1
CP_LocTech_Requirements=0
UP_LocTech_PrimaryConst=0
UP_LocTech_Constraints=1
UP_LocTech_Requirements=0
SpotLogger_Allowed=0

RfPathLossDb_Ap=3500
RfPathLossDb_Cp=3500
NmeaBitmask=0x010003fff

# force engine to use entire response time for emergency session; default 0
IsUseEntireRespTime911=1
# force engine to engage high accuracy if entire response time used; default 0
isForceHighAccuracyMode=1

# 0: Use calibrated Accel data 1: Use uncalibrated Accel data
isUseUncalAccel=1

GNSS_CARRIER_CONFIG_BEGIN
# DEFAULT
GNSS_CARRIER_ID=0
ENABLE_CAPS_OTDOA=1
ENABLE_2G_CP_CAPS_MSA=1
ENABLE_2G_CP_CAPS_MSB=1
ENABLE_3G_CP_CAPS_MSA=1
ENABLE_3G_CP_CAPS_MSB=1
ENABLE_4G_CP_CAPS_MSA=1
ENABLE_4G_CP_CAPS_MSB=1
ENABLE_5G_CP_CAPS_MSA=1
ENABLE_5G_CP_CAPS_MSB=1
ENABLE_2G_UP_CAPS_MSA=1
ENABLE_2G_UP_CAPS_MSB=1
ENABLE_3G_UP_CAPS_MSA=1
ENABLE_3G_UP_CAPS_MSB=1
ENABLE_4G_UP_CAPS_MSA=1
ENABLE_4G_UP_CAPS_MSB=1
ENABLE_5G_UP_CAPS_MSA=0
ENABLE_5G_UP_CAPS_MSB=0
SUPL_SSL_METHOD=TLSv1_1
SUPL_HMAC_HASH=SHA256
SUPL_UT2_SEC=20
SUPL_UT3_SEC=20
ENABLE_LPP_CP=1
ENABLE_LPP_UP=0
ENABLE_LPPE_CP=3
ENABLE_LPPE_UP=0
ENABLE_NLP_IN_LPPE=1
ENABLE_NLP_IN_AGNSS=0
ENABLE_LPP_HA_GAD_SHAPE=0
USE_EMER_PDN_FOR_EMER_SUPL=1
# ATT
GNSS_CARRIER_ID=1
# TMO
GNSS_CARRIER_ID=2
ENABLE_3G_CP_CAPS_MSA=0
ENABLE_4G_CP_CAPS_MSA=0
ENABLE_NLP_IN_LPPE=0
ENABLE_NLP_IN_AGNSS=1
ENABLE_LPP_HA_GAD_SHAPE=1
# VZW
GNSS_CARRIER_ID=3
ENABLE_CAPS_OTDOA=0
ENABLE_LPP_UP=1
ENABLE_LPPE_UP=3
SUPL_UT2_SEC=10
SUPL_UT3_SEC=30
SUPL_SSL_METHOD=TLSv1_2
# AIRTEL
GNSS_CARRIER_ID=4
# RAKUTEN
GNSS_CARRIER_ID=5
ENABLE_LPP_UP=1
ENABLE_LPPE_UP=3
# KDDI
GNSS_CARRIER_ID=6
ENABLE_LPP_CP=0
ENABLE_LPP_UP=1
ENABLE_LPPE_CP=0
ENABLE_LPPE_UP=3
# SBM
GNSS_CARRIER_ID=7
ENABLE_LPP_CP=0
ENABLE_LPPE_CP=0
ENABLE_5G_CP_CAPS_MSA=0
ENABLE_5G_CP_CAPS_MSB=0
USE_EMER_PDN_FOR_EMER_SUPL=0
# DOCOMO
GNSS_CARRIER_ID=8
# LAB
GNSS_CARRIER_ID=9
ENABLE_LPP_UP=1
ENABLE_LPPE_UP=3
GNSS_CARRIER_CONFIG_END
